body {
	font-family: Palatino;
	width: 100%;
}

.bg-color {
	background-color: #936EB5;
}

.jumbo-hd {
    background-color: #F2E07F;
    opacity: 0.8;
    color: black !important;
	margin-top: 5%;
	margin-bottom: 5%;
	width: inherit;
}

.jumbo-hd > p {
	font-size: 150% !important;
}

.logo-center {
	padding-left: 28%;
}

.link-center {
	padding-left: 15%;
}

nav {
	font-size: 200%;
}

.border-bottom {
	border-width: 3px !important; 
}

.border-left {
	border-width: 2px !important;
	border-color: black !important;
}

.navbar-nav > a {
	border-right: 2px solid black;
}

.navbar-nav > a:hover {
	color: white !important;
}

.active {
	color: #F2E07F !important;
}

/* Header Parallax Element Style*/ 
.paral {
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}

/* Image for Parallax Section */ 
.paralimg {
	background-image: url("images/cover.jpg");
}

/* Remove Bottom Margin from Jumbotron */
.jumbotron {
	margin-bottom: 0;
}

.card {
	border: 1px solid black;
}

#natural, #braids {
	background-color: #D9C972;
	margin-right: 25%;
	margin-left: 25%;
	border-radius: 100px;
    box-shadow: -5px 6px;
}

#locs {
	background-color: #936EB5;
	margin-right: 25%;
	margin-left: 25%;
	border-radius: 100px;
    box-shadow: -5px 6px;
}

h5 {
	font-weight: 900 !important;
}

.p-shadow {
	box-shadow: -12px -12px #936EB5;
}

.y-shadow {
	box-shadow: -12px -12px #F2E07F;
}

.card > .btn {
	border-radius: 0 !important;
}

div.p-shadow > .btn {
	background-color: #F2E07F;
	color: black;
	border: none;
	font-weight: bolder;
	opacity: 0.9;
}

div.y-shadow > .btn {
	background-color: #936EB5;
	color: black;
	border: none;
	font-weight: bolder;
	opacity: 0.9;
}

div.p-shadow > .btn:visited {
	background-color: #F2E07F;
	color: black;
	border: none;
	font-weight: bolder;
	opacity: 0.9;
}

div.y-shadow > .btn:visited {
	background-color: #936EB5;
	color: black;
	border: none;
	font-weight: bolder;
	opacity: 0.9;
}

.card > .btn:active {
	text-transform: uppercase;
	font-weight: bolder;
	border-bottom: 1px solid transparent !important;
	opacity: 1;
}

.card > .btn:hover {
	text-transform: uppercase;
	font-weight: bolder;
	border-bottom: 1px solid transparent !important;
	opacity: 1;
}

.footer {
	background-image: url("images/footer.jpg");/* Photo by Greg Trowman on Unsplash */
	background-size: cover;
	background-position: center;
	opacity: 0.7;
	width: 100%;
	height:  max-content;
}

h3 {
	margin-top: 6%;
}

.overlay {
	background-color: #C0C0C0;
    opacity: 0.8;
    color: black !important;
	width: inherit;
	margin: 0;
	height: inherit;
	padding-bottom: 2%;
}

.contact-overlay {
	background: linear-gradient(to bottom right, #936eb5 70%, #f2e07f 108%);
	border-radius: 5px;
	box-shadow: 1px 1px 2px 3px;
}

.contact-hours {
	background-color: #D9C972;
    opacity: 0.8;
    color: black !important;
	width: inherit;
	height: inherit;
}

#submit {
	background-color: #D9C972;
	font-weight: bolder;
}

.push-down {
	margin-top: 8%;
	opacity: 1;
}

.push-up {
	margin-top: -3%;
}

#copyright {
	margin-bottom: -5%;
}

/* Small devices (landscape phones, 501px and up) */
@media screen and (max-width: 801px) { 
	body {
		width: 100%;
	}
	
	.card {
		margin-bottom: 5%;
		margin-left: 2%;
	}
	
	#browse {
		display: none;
	}
	
	.footer {
		height: max-content;
		width: 100%;
		margin-top: -5%;
	}
	
	#hours {
		padding-top: 1%;
	}
	
	#contact {
		padding-bottom: 5%;
	}
	
	.overlay {
		width: inherit;
		height: inherit;
		margin-bottom: -10%;
		margin-left: 0;
	}
	
	.push-up {
		margin-top: 3%;
	}
	
	#copyright {
		margin-top: 10%;
	}
	
	#natural, #locs, #braids {
		padding-top: 5%;
		padding-bottom: 5%;
		margin-left: auto !important;
		margin-right: auto !important;
		border-radius: 5px;
		width: 80%;
	}
	
	.contact-overlay {
		width: 85% !important;
		margin-bottom: 10% !important;
	}
}
/* XS devices (500px and lower) */
@media screen and (max-width: 500px) { 
	body {
		width: 100%;
	}
	
	.footer {
		height: 100%;
		width: 100%;
	}
	
	.footer > .row {
		display: block;
		height: 100%;
		width: 100%;
	}
	
	#natural, #locs, #braids {
		padding-top: 5%;
		margin-left: auto !important;
		margin-right: auto !important;
		border-radius: 5px;
		width: 80%;
	}
	
	.middle {
		margin-top: 4%;
	}
}

/* Large Screens */
@media screen and (min-width: 850px) {
	.nav-items {
		margin-left: 25% !important;
		margin-right: 0 !important;
	}
}

@media screen and (max-width: 1050px) {
	.nav-items {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
	#natural, #locs, #braids {
		padding-top: 5%;
		padding-bottom: 5%;
		margin-left: auto !important;
		margin-right: auto !important;
		border-radius: 5px;
		width: 80%;
	}
	
	.contact-overlay {
		width: 85% !important;
	}
}

/* Pixel screen */
@media screen and (max-width: 415px) {
	.middle {
		margin-top: 0;
	}
	
	.contact-hours, .contact-overlay {
		width: 90% !important;
	}
	
	.contact-overlay {
		margin-bottom: 10% !important;
	}
}

/* iPhone 5/SE screen */
@media screen and (max-width: 325px) {
	.middle {
		margin-top: 0;
	}
}












